target
Cargo.lock
poetry.lock
__pycache__
.pytest_cache
.DS_Store
terraform.tfvars
oci_instance.pub
.terraform.lock.hcl
.terraform
terraform.tfstate.backup
terraform.tfstate
libscraper.a
bindings.rs
rules.json
.env