target
Cargo.lock
poetry.lock
__pycache__
.pytest_cache
.DS_Store
terraform.tfvars
oci_instance.pub
.terraform.lock.hcl
.terraform
terraform.tfstate.backup
terraform.tfstate
libscraper.a
libscraper.h
bindings.rs
rules.json
.env
package-lock.json
cookies.json
x_cookies.json

# Ignore all markdown files in the data directory
/core/server/app/src/data/new_analysis.md
/core/server/app/src/data/old_analysis.md